@charset "UTF-8";

/* sub PAGE */
.page {
    position: relative;
    min-width: 1250px;
    width: 100%;
    min-height: 600px;
    background-color: #efefef;
}
/* contents HEAD */
.ct_head { width: 100%; height: 150px; color: white; }

.head { position: relative; margin: 0 auto; padding: 0 50px; width: 1250px; height: 100%; }

.res .head { background-image: url(../images/sub_head_res.png); }
.vst .head { background-image: url(../images/sub_head_vst.png); }
.pub .head { background-image: url(../images/sub_head_pub.png); }
.tow .head { background-image: url(../images/sub_head_tow.png); }
.mypage .head { background-image: url(../images/sub_head_mypage.png); }
.sup .head { background-image: url(../images/sub_head_sup.png); }

.title { position: absolute; top: 100px; }
.title h1, .title h2 { display: inline-block; }

.log { position: absolute; top: 110px; right: 50px; }

.log > .in > .join { margin-right: 10px; color: white; }
.log > .in > .join:hover { text-decoration: underline; }
.log > .out p { display: inline-block; margin-right: 10px; }

    /* contents BODY */
.ct_body {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    width: 1250px;
    min-height: 450px;
    background-color: white;
}

.sub_nav { position: absolute; width: 200px; }
.sub_nav li > a { display: block; padding: 10px 20px; }
.sub_nav li > a:hover, .sub_nav li > a.on { font-weight: bold; color: white; }

.body {
    position: relative;
    margin-left: 250px;
    width: 900px;
}
.body.full { margin: 0; width: 100%; }
.caption { margin-bottom: 20px; padding: 20px; background-color: #efefef; }
.caption p { line-height: 30px; }
.caption.find { text-align: center; }
.caption.find span { font-weight: bold; color: #3d84bc; }

.bd_title { margin: 20px 0 10px 0; line-height: 40px; }
.bd_title p { display: inline-block; font-weight: bold; }

.search_box { position: relative; margin-bottom: 50px; }
.search_box .btn { position: absolute; right: 0; }

.table_box { width: 100%; }
.table_box,
.block { position: relative; margin-bottom: 50px; }

.block .line { position: relative; margin-bottom: 20px; }
.line.add {
    padding: 15px 20px;
    background-color: #efefef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.line span.disc { margin-left: 15px; font-size: 14px; color: #999; }

.line_box { display: inline-block; }
.line_box span { color: #777; }

.block .caption {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.block > p, .block .info > p { margin: 20px 0; }

.block .info > p.in { padding-left: 20px; }
.block .info > p.in2 { padding-left: 100px; }

.multiple_selection { padding: 20px 75px 0; background-color: #f8f8f8 }
.multiple_selection > ul { font-size: 0; }
.selection {
    display: inline-block;
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
}

.reconfirm { margin: 100px auto; width: 400px; }

.page_btn { text-align: center; }
.page_btn .btn { padding: 8px 10px; font-size: inherit; }

.text_id { font-weight: bold; color: #3d84bc; }

.map_view { margin-bottom: 20px; border: 1px solid #ddd; overflow: hidden; }

/* Q&A */
.qna { border: 1px solid #ddd; }
.qna > ul > li { border-bottom: 1px solid #ddd; }
.qna > ul > li:last-child { border-bottom: none; }
.qna > ul > li > a { display: block; }
.qna > ul > li > a:hover p { color: #2c82c9; }
.qna .a { display: none; background-color: #f1efed; }
.qna li.active .q { border-bottom: 1px dashed #ddd; }
.qna li.active .a { display: block; }
.qna .q, .qna .a { position: relative; }
.qna .q > span { color: #c7c7c7; text-shadow: 0 1px 0 rgba(0,0,0,.4); }
.qna .a > span { color: #c3b4ab; text-shadow: 0 1px 0 white; }
.qna .q > span, .qna .a > span {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ddd;
}
.qna .q > div { height: 60px; line-height: 60px; }
.qna .a > div { padding: 10px; }
.qna .q > div, .qna .a > div {
    margin-left: 60px;
    padding-left: 20px;
}
.qna .a > div > p { line-height: 30px; font-size: 14px; }

/* PAGER - 현재사용안함 */
/*.pager { position: relative; text-align: center; }
.pager ol {
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pager li { display: inline-block; font-size: 16px; border-right: 1px solid #ddd; }
.pager li:last-child { border-right: none; }
.pager li > a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.pager li > a:hover { background-color: #2c82c9; color: white; }
.pager li > a.on { background-color: #efefef; cursor: inherit; pointer-events: none; }*/

/* POPUP */
.section_map { border-bottom: 1px solid #ccc; }

/* SELECT BOX */
select {
    width: 200px;
    padding: 8px 10px 6px;
    font-family: inherit; /* 폰트 상속 */
    background: url(../images/select_arrow.png) 100% 50% no-repeat; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #ccc;
    border-radius: 0; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
select::-ms-expand { display: none; /* for IE 11 */ }

/* INPUT custom */
input[type="text"], input[type="password"] {
    padding: 7px 10px;
    width: 200px;
    font-family: inherit;
    border: 1px solid #ccc;
}
input[type="text"]:read-only { background-color: #efefef; color: #777; }
input.wid100 { width: 100px; }
input.wid300 { width: 300px; }
input.wid400 { width: 400px; }
input.wid500 { width: 500px; }
input.wid600 { width: 600px; }

label { display: inline-block; padding-left: 20px; width: 150px; }

/* public STYLE */
.res .ct_head, .res .sub_nav li > a:hover, .res .sub_nav li > a.on, .res table th { background-color: #54acd2; }
.vst .ct_head, .vst .sub_nav li > a:hover, .vst .sub_nav li > a.on, .vst table th  { background-color: #1abc9c; }
.pub .ct_head, .pub .sub_nav li > a:hover, .pub .sub_nav li > a.on, .pub table th  { background-color: #61bd6d; }
.tow .ct_head, .tow .sub_nav li > a:hover, .tow .sub_nav li > a.on, .tow table th  { background-color: #fba026; }
.mypage .ct_head, .mypage .sub_nav li > a:hover, .mypage .sub_nav li > a.on, .mypage table th  { background-color: #eb6b56; }
.sup .ct_head, .sup .sub_nav li > a:hover, .sup .sub_nav li > a.on, .sup table th  { background-color: #a38f84; }

/* sub SPINNER */
#spinnerMask { display: none; }

/**/
.before_mask {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    color: #999;
}

/*
** AXISj custom
*/
.axi_box { position: relative; display: inline-block; }

.AXInput { height: inherit; }

/* TABLE */
table { width: 100%; border-collapse: collapse; }
table caption { display: none; }
table thead, table th { color: white; }
table th { font-weight: normal; }
table thead th { padding: 10px 0; font-weight: bold; background-color: #aaa; }
table tbody td {
    padding: 5px 0;
    height: 38px;
    text-align: center;
    font-size: 14px;
}
table tbody tr:nth-child(even) { background-color: #f8f8f8; }
table tbody tr:last-child td { border-bottom: none; }
table tbody td.disc { padding: 5px 0 5px 15px; text-align: left; }

table .disc a { font-weight: bold; color: #2c82c9; }
table .disc a:hover { text-decoration: underline; }
table .btn { display: inline-block; }



.pop_up .table_box { padding: 20px 30px; }
.pop_up .table_box .table { border: 1px solid #2c82c9; }
.pop_up .table_box .table thead th, .pop_up .table_box .table tbody th { background-color: #2c82c9; }
.pop_up .table_box .table tbody tr, .table_box .table tbody tr { border-bottom: 1px solid #ddd; }
.pop_up .table_box .table tbody tr:last-child, .table_box .table tbody tr:last-child { border-bottom: none; }
.pop_up .table_box .table tbody tr p, .table_box .table tbody tr p { margin: 10px; }
.pop_up .table_box .table.non_head thead th, .table_box .table.non_head thead th { padding: 0; }
.pop_up .table_box .table tbody td.left, .table_box .table tbody td.left { text-align: left; }

.pop_up .table_box .table tbody td.text_view { padding: 10px 20px; }

.table_box .table { border: 1px solid #ddd; }

/* 그리드 thead 색상 */
.AXGrid .AXgridScrollBody {}

.res .AXGrid .AXgridScrollBody, .res .AXGrid .AXgridPageBody, .res .table_box .table { border-color: #54acd2; }
.vst .AXGrid .AXgridScrollBody, .vst .AXGrid .AXgridPageBody, .vst .table_box .table { border-color: #1abc9c; }
.pub .AXGrid .AXgridScrollBody, .pub .AXGrid .AXgridPageBody, .pub .table_box .table { border-color: #61bd6d; }
.tow .AXGrid .AXgridScrollBody, .tow .AXGrid .AXgridPageBody, .tow .table_box .table { border-color: #fba026; }
.mypage .AXGrid .AXgridScrollBody, .mypage .AXGrid .AXgridPageBody, .mypage .table_box .table { border-color: #eb6b56; }
.sup .AXGrid .AXgridScrollBody, .sup .AXGrid .AXgridPageBody, .sup .table_box .table { border-color: #a38f84; }
.pop_up .AXGrid .AXgridScrollBody, .pop_up .AXGrid .AXgridPageBody { border-color: #2c82c9; }

.res .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.res .AXGrid .AXgridScrollBody .AXGridColHead { background: #54acd2; }
.vst .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.vst .AXGrid .AXgridScrollBody .AXGridColHead { background: #1abc9c; }
.pub .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.pub .AXGrid .AXgridScrollBody .AXGridColHead { background: #61bd6d; }
.tow .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.tow .AXGrid .AXgridScrollBody .AXGridColHead { background: #fba026; }
.mypage .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.mypage .AXGrid .AXgridScrollBody .AXGridColHead { background: #eb6b56; }
.sup .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.sup .AXGrid .AXgridScrollBody .AXGridColHead { background: #a38f84; }
.pop_up .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td,
.pop_up .AXGrid .AXgridScrollBody .AXGridColHead { background: #2c82c9; }

.AXGrid .AXgridScrollBody .AXGridColHead { background-image: inherit; }

.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td { padding: 8px 0; font-size: inherit; }

.res .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.res .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #3d8eb9; }
.vst .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.vst .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #00a885; }
.pub .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.pub .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #41a85f; }
.tow .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.tow .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #f37934; }
.mypage .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.mypage .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #d14841; }
.sup .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.sup .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #75706b; }
.pop_up .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc,
.pop_up .AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover { background: #2c82c9; }

.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTdText { color: white; text-shadow: none; }

.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc .colHeadNode,
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortAsc .colHeadNode { background-position: center -3px; }

table tbody td { padding: 5px 0; height: 38px; font-size: 14px; }

.AXGrid input[type="checkbox"], .AXGrid input[type="radio"] { display: inline-block; width: 19px; height: 19px; }
.AXSelect { height: 28px; }
.AXanchorSelect .selectBoxArrow { width: 28px; }
.AXGrid .AXgridPageBody { overflow: hidden; }
.AXSelect, .AXanchor, .AXanchorSelect, .AXanchorSelect .selectedTextBox, .AXGrid .AXgridPageBody {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.AXgridPageNumber select { width: 100px; }

.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyTdText { text-shadow: none; }

/* 그리드 두줄보기 설정 */
.wrap_normal { white-space: normal !important; }