<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koticobui.dfmc.client.mem.mapper.MemberMapper">
    
    <select id="searchUseMember" resultType="Integer" parameterType="hashmap">
        SELECT
            COUNT(1)
        FROM COMTNGNRLMBER
        WHERE MBER_NM = #{mberNm}
        AND MBER_BIRTH = #{mberBirth}
        AND MBER_EMAIL_ADRES = #{mberEmailAdres}
    </select>
    
    <select id="mberIdDuplCheck" resultType="Integer" parameterType="hashmap">
        SELECT
            COUNT(1)
        FROM COMTNGNRLMBER
        WHERE MBER_ID = #{mberId}
    </select>
    
    <select id="carNumberDupCheck" resultType="Integer" parameterType="hashmap">
		SELECT
            COUNT(1)
        FROM TB_CAR A INNER JOIN COMTNGNRLMBER B ON B.ESNTL_ID = A.ESNTL_ID
        WHERE CAR_NUMBER = #{carNumber} AND B.MBER_STTUS = 'P'        
    </select>

    <insert id="insertMember" parameterType="hashmap">
        INSERT INTO COMTNGNRLMBER (
            MBER_ID,
            PASSWORD,
            PASSWORD_HINT,
            MBER_NM,
            MBER_BIRTH,
            ZIP,
            ADRES,
            MBER_STTUS,
            DETAIL_ADRES,
            MBTLNUM,
            GROUP_ID,
            MBER_EMAIL_ADRES,
            ESNTL_ID,
            MBER_PHONE,
            NOTICE_ZIP,
            NOTICE_ADRES,
            NOTICE_DETAIL_ADRES,
            CREATION_DATE,
            MODIFY_DATE,
            JOIN_CODE,
            MEMBER_LON,
            MEMBER_LAT,
            ADRES_NEW_YN,
            NOTICE_ADRES_NEW_YN,
            PASSWORD_DT
        ) VALUES (
            #{mberId},
            DAMO.HASH_STR_DATA(#{password}),
            #{passwordHint},
            #{mberNm},
            #{mberBirth},
            #{zip},
            #{adres},
            #{mberSttus},
            #{detailAdres},
            #{mbtlnum},
            #{groupId},
            #{mberEmailAdres},
            #{esntlId},
            #{mberPhone},
            #{noticeZip},
            #{noticeAdres},
            #{noticeDetailAdres},
            sysdate,
            sysdate,
            #{joinCode},
            #{memberLon},
            #{memberLat},
            #{adresNewYn},
            #{noticeAdresNewYn},
            sysdate
        )
    </insert>
    
    <insert id="insertCar" parameterType="hashmap">
        INSERT INTO TB_CAR (
        CAR_KEY,
        ESNTL_ID,
        CAR_NUMBER,
        CAR_NAME,
        CAR_ZIP,
        CAR_ADRES,
        CAR_DETAIL_ADRES,
        CREATION_DATE,
        MODIFY_DATE,
        LENT_CAR_YN
        ) VALUES (
        #{carKey},
        #{esntlId},
        #{carNumber},
        #{carName},
        #{carZip},
        #{carAdres},
        #{carDetailAdres},
        sysdate,
        sysdate,
        #{lentCarYn}
        )
    </insert>

    <insert id="insertDiscountDetail" parameterType="hashmap">
        INSERT INTO TB_DISCOUNT_DETAIL (
            DISCOUNT_DETAIL_KEY,
            ESNTL_ID,
            DISCOUNT_ITEM_KEY,
            CAR_CC,
            WELFARE_NUMBER,
            VETERAN_NUMBER,
            DISABILITY_GRADE,
            CREATION_DATE,
            MODIFY_DATE,
            CONTRACT_INFO_KEY,
            DISCOUNT_SELECT_YN,
            DISCOUNT_START_DATE
        ) VALUES (
            #{discountDetailKey},
            #{esntlId},
            #{discountItemKey},
            #{carCc},
            #{welfareNumber},
            #{veteranNumber},
            #{disabilityGrade},
            sysdate,
            sysdate,
            #{contractInfoKey},
            #{discountSelectYn},
            #{discountStartDate}
        )
    </insert>
    
    <select id="findMemberId" resultType="egovMap" parameterType="hashmap">
        SELECT
            MBER.MBER_ID
        FROM
            COMTNGNRLMBER MBER
        WHERE MBER_NM = #{mberNm}
        AND MBER_BIRTH = #{mberBirth}
        AND MBER_EMAIL_ADRES = #{mberEmailAdres}
        AND ROWNUM = 1
    </select>
    
    <update id="updatePassword" parameterType="hashmap">
        UPDATE
            COMTNGNRLMBER
        SET
            PASSWORD = DAMO.HASH_STR_DATA(#{password}),
            PASSWORD_DT = SYSDATE
        WHERE MBER_NM = #{mberNm}
        AND MBER_BIRTH = #{mberBirth}
        AND MBER_EMAIL_ADRES = #{mberEmailAdres}
    </update>

    
    
</mapper>