<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koticobui.dfmc.client.pub.mapper.PublicMapper">

	<select id="selectParkingIntroList" resultType="egovMap" parameterType="hashmap">
        SELECT
        	PARK_SECTION_KEY
			, PARK_SECTION_NAME
			, SECTION_CLASSIFY
			, FN_CODENM('DFM006', SECTION_CLASSIFY) SECTION_CLASSIFY_NAME
			, SECTION_TRAIT
			, FN_CODENM('DFM007', SECTION_TRAIT) SECTION_TRAIT_NAME
			, TIME_PARK_YN
			, TOTAL_DIVISION
			, COMPACT_DIVISION
			, FEMALE_DIVISION
			, HANDICAP_DIVISION
			, TIME_PARK_CHARGE
			, TRIM(TO_CHAR(TIME_PARK_CHARGE, '999,999,999,999,999')) TIME_PARK_CHARGE_COMMA
			, TIME_PARK_INTERVAL
			, ALL_DAY_CHARGE
			, DAY_TIME_CHARGE
			, NIGHT_TIME_CHARGE
			, TRIM(TO_CHAR(ALL_DAY_CHARGE, '999,999,999,999,999')) ALL_DAY_CHARGE_COMMA
			, TRIM(TO_CHAR(DAY_TIME_CHARGE, '999,999,999,999,999')) DAY_TIME_CHARGE_COMMA
			, TRIM(TO_CHAR(NIGHT_TIME_CHARGE, '999,999,999,999,999')) NIGHT_TIME_CHARGE_COMMA
			, OPERATION_START_TIME
			, REGEXP_REPLACE(OPERATION_START_TIME,'(^.{2})','\1:') OPERATION_START_TIME_STR
			, OPERATION_END_TIME
			, REGEXP_REPLACE(OPERATION_END_TIME,'(^.{2})','\1:') OPERATION_END_TIME_STR
			, PUBLIC_COMMENT
			, PUBLIC_PHONE_NUMBER
			, SECTION_LON
			, SECTION_LAT
			, MAP_PANO_ID
			, MAP_PAN
			, MAP_TILT
			, MAP_ZOOM
		FROM
			TB_PARK_SECTION
		WHERE SECTION_TYPE = '02'
		ORDER BY PARK_SECTION_NAME ASC
    </select>

    <select id="selectSectionListTot" resultType="Integer" parameterType="hashmap">
        SELECT
            COUNT(1)
        FROM
            TB_PARK_SECTION TPS
        WHERE TPS.SECTION_STATUS = '01'
        AND TPS.SECTION_TYPE = '02'
        AND TPS.ALL_DAY_CHARGE + TPS.DAY_TIME_CHARGE + TPS.NIGHT_TIME_CHARGE > 0
        
        <if test="searchManageZone != null and searchManageZone != ''">
            AND TPS.MANAGE_ZONE = #{searchManageZone}
        </if>
        
        <if test="searchParkSectionKey != null and searchParkSectionKey != ''">
            AND TPS.PARK_SECTION_KEY = #{searchParkSectionKey}
        </if>
    </select>
    
    <select id="selectSectionList" resultType="egovMap" parameterType="hashmap">
        SELECT
            *
        FROM (
            SELECT
                A.*
                , ROWNUM RNUM
            FROM (
                SELECT
                    TPS.PARK_SECTION_KEY
                    , TPS.MANAGE_ZONE
                    , FN_CODENM('DFM013', TPS.MANAGE_ZONE) MANAGE_ZONE_NAME
                    , TPS.PARK_SECTION_NAME
                    , TPS.PARK_SECTION_NAME AS SECTION_INFO
                    , TPS.TIME_PARK_YN
                    , TPS.TIME_PARK_INTERVAL
                    , TPS.TIME_PARK_CHARGE
                    , TPS.TOTAL_DIVISION
                    , TPS.COMPACT_DIVISION
                    , TPS.FEMALE_DIVISION
                    , TPS.HANDICAP_DIVISION
                    , TPS.ALL_DAY_CHARGE
                    , TPS.DAY_TIME_CHARGE
                    , TPS.NIGHT_TIME_CHARGE
                    , TRIM(TO_CHAR(TPS.ALL_DAY_CHARGE, '999,999,999,999,999')) ALL_DAY_CHARGE_COMMA
                    , TRIM(TO_CHAR(TPS.DAY_TIME_CHARGE, '999,999,999,999,999')) DAY_TIME_CHARGE_COMMA
                    , TRIM(TO_CHAR(TPS.NIGHT_TIME_CHARGE, '999,999,999,999,999')) NIGHT_TIME_CHARGE_COMMA
                    , TPS.OPERATION_START_TIME
                    , TPS.OPERATION_END_TIME
                    , TPS.SECTION_LON
                    , TPS.SECTION_LAT
                    , TPS.MAP_PANO_ID
                    , TPS.MAP_PAN
                    , TPS.MAP_TILT
                    , TPS.MAP_ZOOM
                    , TPS.MONTH_DAY_DIVISION
                    , TPS.MONTH_NIGHT_DIVISION
                    , (
                        SELECT COUNT(1)
                        FROM 
				            TB_HOPE_REQUEST_SECTION THRS
				            , TB_CONTRACT_INFO TCI
				            , TB_CAR TC
				            , COMTNGNRLMBER MBER
				            , TB_QUARTER_PAYMENT TQP
				        WHERE THRS.CONTRACT_INFO_KEY = TCI.CONTRACT_INFO_KEY
					    AND TCI.CONTRACT_INFO_KEY = TQP.CONTRACT_INFO_KEY
				        AND TCI.CAR_KEY = TC.CAR_KEY
				        AND TC.ESNTL_ID = MBER.ESNTL_ID
				        AND TCI.PARKING_PRODUCT = '03'
					    AND TQP.ASSIGN_STATUS = '02'
                    ) STANDBY_COUNT
                FROM
                    TB_PARK_SECTION TPS
                WHERE TPS.SECTION_STATUS = '01'
                AND TPS.SECTION_TYPE = '02'
                AND TPS.ALL_DAY_CHARGE + TPS.DAY_TIME_CHARGE + TPS.NIGHT_TIME_CHARGE > 0
                
                <if test="searchManageZone != null and searchManageZone != ''">
                    AND TPS.MANAGE_ZONE = #{searchManageZone}
                </if>
                
                <if test="searchParkSectionKey != null and searchParkSectionKey != ''">
                    AND TPS.PARK_SECTION_KEY = #{searchParkSectionKey}
                </if>
                
                ORDER BY TPS.PARK_SECTION_NAME

                ) A
            )
            
        <if test="pageNo != null and pageNo != ''">
            WHERE RNUM BETWEEN ((${pageNo} -1) * ${pageSize}) + 1  AND (((${pageNo} -1) * ${pageSize})) + ${pageSize}
        </if>
        
    </select>
    
    <insert id="insertContractInfo" parameterType="hashmap">
        INSERT INTO TB_CONTRACT_INFO (
            CONTRACT_INFO_KEY,
            CAR_KEY,
            ASSIGN_SECTION_KEY,
            PARKING_PRODUCT,
            SHARE_PRINT_YN,
            SHARE_PRINT_DATE,
            REQUEST_DATE,
            STANDBY_DATE,
            USE_TIME
        ) VALUES (
            #{contractInfoKey},
            #{carKey},
            #{assignSectionKey},
            #{parkingProduct},
            #{sharePrintYn},
            #{sharePrintDate},
            sysdate,
            sysdate,
            #{useTime}
        )
    </insert>
    
    <insert id="insertContractHistory" parameterType="hashmap">
        INSERT INTO TB_CONTRACT_HISTORY (
            CONTRACT_HISTORY_KEY,
            CONTRACT_INFO_KEY,
            PARKING_PRODUCT,
            ASSIGN_STATUS,
            SHARE_PRINT_YN,
            SHARE_PRINT_DATE,
            USE_BEGIN_DATE,
            USE_END_DATE,
            REQUEST_DATE,
            STANDBY_DATE,
            ASSIGN_DATE,
            USE_TIME,
            USE_CHARGE
        ) VALUES (
            #{contractHistoryKey},
            #{contractInfoKey},
            #{parkingProduct},
            #{assignStatus},
            #{sharePrintYn},
            #{sharePrintDate},
            #{useBeginDate},
            #{useEndDate},
            #{requestDate},
            #{standbyDate},
            #{assignDate},
            #{useTime},
            #{useCharge}
        )
    </insert>
    
    <select id="selectDiscountDetailNullContractKeyList" resultType="egovMap" parameterType="hashmap">
        SELECT *
        FROM TB_DISCOUNT_DETAIL
        WHERE ESNTL_ID = #{esntlId}
        AND CONTRACT_INFO_KEY IS NULL
    </select>
    
    <insert id="insertDiscountDetail" parameterType="hashmap">
        INSERT INTO TB_DISCOUNT_DETAIL (
            DISCOUNT_DETAIL_KEY,
            ESNTL_ID,
            DISCOUNT_ITEM_KEY,
            CAR_CC,
            WELFARE_NUMBER,
            VETERAN_NUMBER,
            DISABILITY_GRADE,
            CREATION_DATE,
            MODIFY_DATE,
            CONTRACT_INFO_KEY,
            DISCOUNT_SELECT_YN,
            DISCOUNT_START_DATE
        ) VALUES (
            #{discountDetailKey},
            #{esntlId},
            #{discountItemKey},
            #{carCc},
            #{welfareNumber},
            #{veteranNumber},
            #{disabilityGrade},
            sysdate,
            sysdate,
            #{contractInfoKey},
            #{discountSelectYn},
            #{discountStartDate}
        )
    </insert>
    
    <insert id="insertHopeRequestSection" parameterType="hashmap">
        INSERT INTO TB_HOPE_REQUEST_SECTION (
            HOPE_REQUEST_SECTION_KEY,
            PARK_BLOCK_KEY,
            PARK_SECTION_KEY,
            HOPE_TIME,
            CONTRACT_INFO_KEY,
            HOPE_RANK,
            HOPE_MONTH
        ) VALUES (
            #{hopeRequestSectionKey},
            #{parkBlockKey},
            #{parkSectionKey},
            #{hopeTime},
            #{contractInfoKey},
            #{hopeRank},
            #{hopeMonth}
        )
    </insert>
    
    <insert id="insertQuarterPayment" parameterType="hashmap">
        INSERT INTO
        TB_QUARTER_PAYMENT
        (
            PURCHASE_KEY
            , CONTRACT_INFO_KEY
            , QUARTER_SEQ
            , YEAR
            , STAT_CD
            , COST
            , DISCNT_COST
            , PAY_METHOD_CD
            , PAY_LIMIT_DT
            , STATUS_CD
            , NOTI_DT
            , CREATOR
            , MODIFIER
            , CREATION_DATE
            , MODIFY_DATE
            , ASSIGN_STATUS
            , ASSIGN_DATE
            , USE_BEGIN_DATE
            , USE_END_DATE
        ) VALUES (
            #{purchaseKey}
            , #{contractInfoKey}
            , #{quarterSeq}
            , #{year}
            , #{statCd}
            , #{cost}
            , #{discntCost}
            , #{payMethodCd}--'00'
            , #{payLimitDt}
            , #{statusCd}--'00'
            , #{notiDt}
            , #{creator}
            , #{modifier}
            , sysdate
            , sysdate
            , #{assignStatus}--'02'
            , #{assignDate}
            , TO_DATE(#{useBeginDate}, 'YYYY-MM-DD')
            , TO_DATE(#{useEndDate}, 'YYYY-MM-DD')
        )
    </insert>
    
    <select id="selectStandbyMax" resultType="egovMap" parameterType="hashmap">
		SELECT NVL(Max(M.rnum), 0) AS MRNUM 
		FROM   (SELECT Row_number() 
		                 OVER( 
		                   ORDER BY TCI.request_date ASC) AS RNUM 
		        FROM   tb_hope_request_section THRS, 
		               tb_contract_info TCI, 
		               tb_car TC, 
		               COMTNGNRLMBER MBER, 
		               tb_quarter_payment TQP 
		        WHERE  THRS.park_section_key = #{parkSectionKey} 
		               AND THRS.contract_info_key = TCI.contract_info_key 
		               AND TCI.contract_info_key = TQP.contract_info_key 
		               AND TCI.car_key = TC.car_key 
		               AND TC.esntl_id = MBER.esntl_id 
		               AND TCI.parking_product = '03' 
		               AND TQP.assign_status = '02') M   
    </select>
    
    <select id="selectStandbyMe" resultType="egovMap" parameterType="hashmap">
        SELECT RNUM
        FROM 
	        (SELECT
				Row_Number() OVER(ORDER BY TCI.REQUEST_DATE ASC) AS RNUM                 
	      	  , MBER.ESNTL_ID
	        FROM 
	            TB_HOPE_REQUEST_SECTION THRS
	            , TB_CONTRACT_INFO TCI
	            , TB_CAR TC
	            , COMTNGNRLMBER MBER
	            , TB_QUARTER_PAYMENT TQP
	        WHERE THRS.PARK_SECTION_KEY = #{parkSectionKey}
	        AND THRS.CONTRACT_INFO_KEY = TCI.CONTRACT_INFO_KEY 
		    AND TCI.CONTRACT_INFO_KEY = TQP.CONTRACT_INFO_KEY
	        AND TCI.CAR_KEY = TC.CAR_KEY
	        AND TC.ESNTL_ID = MBER.ESNTL_ID
	        AND TCI.PARKING_PRODUCT = '03'  
		    AND TQP.ASSIGN_STATUS = '02')M
	    WHERE M.ESNTL_ID = #{esntlId}
	    ORDER BY M.RNUM ASC
	    
    </select>
    
    <select id="selectStandbyMyList" resultType="Integer" parameterType="hashmap">
        SELECT COUNT(*) COUNT
        FROM 
            TB_HOPE_REQUEST_SECTION THRS
            , TB_CONTRACT_INFO TCI
            , TB_CAR TC
            , COMTNGNRLMBER MBER
            , TB_QUARTER_PAYMENT TQP
        WHERE MBER.ESNTL_ID = #{esntlId}
        AND THRS.CONTRACT_INFO_KEY = TCI.CONTRACT_INFO_KEY
	    AND TCI.CONTRACT_INFO_KEY = TQP.CONTRACT_INFO_KEY
        AND TCI.CAR_KEY = TC.CAR_KEY
        AND TC.ESNTL_ID = MBER.ESNTL_ID
        AND TCI.PARKING_PRODUCT = '03'
	    AND TQP.ASSIGN_STATUS = '02'
    </select>

    <update id="updateMberFlag" parameterType="egovMap"> 
    	UPDATE COMTNGNRLMBER 
    	SET MBER_FLAG = #{mberFlag},
    		MODIFY_DATE = SYSDATE 
    	WHERE ESNTL_ID = #{esntlId}
    </update>
	
	<select id="selectAssignList" resultType="egovMap" parameterType="hashmap">
		 
		select tas.park_section_key, tas.park_division_key, mb.mber_nm, tc.car_number, mb.mber_phone 
    	from
		tb_assign_section tas 
		join TB_CONTRACT_INFO tci on tas.assign_section_key = tci.assign_section_key
		join tb_car tc on tci.car_key = tc.car_key 
		join COMTNGNRLMBER mb on tc.ESNTL_ID = mb.ESNTL_ID
		<if test="mode == zonelist">
		where (tas.park_block_key is not null or tas.park_division_key is not null)	
		</if>
		<if test="mode == zoneinfo">
		and tps.park_section_key like '%'||#{unit}||'%'
		and tpd.park_division_key like '%'||#{section}||'%'	
		</if>
		
		
	</select>
</mapper>